main {
  flex-grow: 1;
}
// section pr-language start
.pr-language {
  padding-top: 5.2rem;
  margin-bottom: 4.25rem;
  background: url(../images/svg/hero-left-top-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right -23.9rem;
}
.pr-language__container {
}
.pr-language__list {
  border-top: 1px solid $white;
  padding-top: 3.25rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5.8rem;
  padding-bottom: 5.5rem;
  @media (max-width: 822px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 598px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.8rem;
    .pr-language__item {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.pr-language__item {
  margin-right: 2rem;
}

// section pr-language end
// section project start
.project {
}
.project-container {
  padding-top: 4.25rem;
  margin-bottom: 13.9rem;
}

.project__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.project__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.9rem 2.7rem;
  @media (max-width: 768px) {
    gap: 6rem 2rem;
  }
  @media (max-width: 765px) {
    grid-template-columns: 1fr;
  }
}
.project__item {
  h3 {
    padding-top: 2rem;
  }
  @media (max-width: 1190px) {
    img {
      width: 480px;
    }
  }
  @media (max-width: 1105px) {
    img {
      width: 390px;
    }
  }
  @media (max-width: 919px) {
    img {
      width: 345px;
    }
  }
  // mobile
  @media (max-width: 765px) {
    img {
      width: 580px;
    }
  }
  @media (max-width: 650px) {
    img {
      width: 490px;
    }
  }
  @media (max-width: 645px) {
    img {
      width: 420px;
    }
  }
  @media (max-width: 645px) {
    img {
      width: 420px;
    }
  }
  @media (max-width: 645px) {
    img {
      width: 420px;
    }
  }

  @media (max-width: 375px) {
    img {
      width: 345px;
    }
  }

  position: relative;
  &:hover .mask {
    display: block;
  }
  .mask {
    display: none;
    position: absolute;
    top: 0;
    bottom: 8.7rem;
    left: 0;
    right: 0;
    background: $black;
    opacity: 75%;
  }
}

.mask-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  margin-top: auto;
  margin-bottom: auto;
}
.card-text__wrapper {
  display: flex;
  gap: 2rem;
  padding-top: 0.7rem;
}

// section project end
