.button {
  transition: 0.3s ease;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: $green;
    bottom: -1rem;
    left: 0;
  }
  &:hover {
    color: $green;
  }
}
