@mixin fontSet($fz, $lh, $fw, $ls) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
}
@mixin responsive($breackpoint) {
  @if $breackpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breackpoint == mobile {
    @media (max-width: 375px) {
      @content;
    }
  }
}
